# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages.lock
package-lock.json
pubspec.lock

# Files and directories created by dart_frog
build/
.dart_frog

# Test related files
coverage/

node_modules/
deploy/db_data
pnpm*
prisma-query*
prisma/migrations